$fistik_yesili: #95a83f;
$koyu_yesil: #136450;
$silik_gri: #d2d8d8;
$smoke_gri: #f7f7f7;
$smoke_white: #f9f9f9;
$portakal_sarisi: #ffba41;
$silik_yazi_rengi: #4c4b4d;
$box-shadow: 0 0 20px 16px rgb(0 0 0 / 4%);

.ant-modal-close {
  top: -27px !important;
  span {
    color: #fff;
    font-size: 24px;
  }
}

.primary_button {
  background-color: $koyu_yesil;
  position: relative;
  color: #fff;
  width: 100%;
  border: 2px solid $koyu_yesil;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin: 15px auto;
  font-family: inherit;
  cursor: pointer;
  &:hover {
    color: $koyu_yesil;
    background-color: #fff;
    transition: all 0.3s;
  }
}
.secondary_button {
  padding: 10px;
  font-weight: 600;
  background-color: $portakal_sarisi;
  border: 2px solid $portakal_sarisi;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Space Grotesk";
  border-color: $portakal_sarisi;
  &:hover {
    color: $koyu_yesil;
    background: #fff;
    border-color: $koyu_yesil;
    transition: all 0.3s;
  }
}

.container {
  max-width: 1200px;
  margin: 10px auto;
}
.title{
  font-size: 3rem;
  font-weight: 600;

}

.swiper-pagination {
  top: 384px !important;
  @media (max-width: 550px) {
    text-align: left !important;
    max-width: 100px !important;
  }
  @media (max-width: 550px) {
    text-align: left !important;
    max-width: 100px !important;
  }
}
.swiper-wrapper {
  @media (max-width: 550px) {
    width: 374px !important;
  }
  @media (min-width: 550px) {
    width: 1200px !important;
  }
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 4px $koyu_yesil !important;
}

.ant-select-selector {
  height: 40px;
}

.select {
  li {
    &:focus {
      background-color: #fff;
    }
  }
}

.ant-form * {
  font-family: "Space Grotesk" !important;
  .ant-form-item-label {
    font-size: 1.4rem;
  }
}
.ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
  a {
    font-family: "Space Grotesk" !important;
  }
  background-color: $smoke_gri !important;
}

.ant-pagination-item-active {
  background-color: $koyu_yesil !important;
  a {
    color: #fff !important;
  }
  border-color: $koyu_yesil !important;
}

.ant-collapse{
  background: none!important;
}
.ant-collapse-header{
  padding-inline-start: 0!important;
  padding: 0!important;
  span{
    font-size: 1rem;
  }
}