$fistik_yesili: #95a83f;
$koyu_yesil: #136450;
$silik_gri: #d2d8d8;
$smoke_gri: #f7f7f7;
$smoke_white: #f9f9f9;
$portakal_sarisi: #ffba41;
$silik_yazi_rengi: #4c4b4d;
$box-shadow: 0 0 20px 16px rgb(0 0 0 / 4%);
$admin_gray: #bec3cc;
$admin_black: #343a40;
$admin_blue: #007bff;
$admin_red: #dc3545;
$admin_yellow: #ffc107;
$admin_green: #28a745;
$admin_open_blue: #17a2b8;
$admin_smoke_black: #17a2b8;

.ant-modal-close {
  top: -27px !important;
  span {
    color: #fff;
    font-size: 24px;
  }
}
.ant-modal * {
  font-family: "Space Grotesk"!important;
}

.primary_button {
  background-color: $koyu_yesil;
  position: relative;
  color: #fff;
  width: 100%;
  border: 2px solid $koyu_yesil;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  margin: 15px auto;
  font-family: inherit;
  cursor: pointer;
  &:hover {
    color: $koyu_yesil;
    background-color: #fff;
    transition: all 0.3s;
  }
}
.secondary_button {
  padding: 10px;
  font-weight: 600;
  background-color: $portakal_sarisi;
  border: 2px solid $portakal_sarisi;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Space Grotesk";
  border-color: $portakal_sarisi;
  &:hover {
    color: $koyu_yesil;
    background: #fff;
    border-color: $koyu_yesil;
    transition: all 0.3s;
  }
}

.container {
  max-width: 1200px;
  margin: 10px auto;
}
.title {
  font-size: 3rem;
  font-weight: 600;
}

.swiper-pagination {
  top: 384px !important;
  @media (max-width: 550px) {
    text-align: left !important;
    max-width: 100px !important;
  }
  @media (max-width: 550px) {
    text-align: left !important;
    max-width: 100px !important;
  }
}
.swiper-wrapper {
  @media (max-width: 550px) {
    width: 374px !important;
  }
  @media (min-width: 550px) {
    width: 1200px !important;
  }
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 4px $koyu_yesil !important;
}

.ant-select-selector {
  height: 40px;
}

.select {
  li {
    &:focus {
      background-color: #fff;
    }
  }
}

.ant-form * {
  font-family: "Space Grotesk" !important;
  /*   .ant-form-item-label {
    font-size: 1.4rem;
  } */
}
.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  a {
    font-family: "Space Grotesk" !important;
  }
  background-color: $smoke_gri !important;
}

.ant-pagination-item-active {
  background-color: $koyu_yesil !important;
  a {
    color: #fff !important;
  }
  border-color: $koyu_yesil !important;
}

.ant-collapse {
  background: none !important;
}
.ant-collapse-header {
  padding-inline-start: 0 !important;
  padding: 0 !important;
  span {
    font-size: 1rem;
  }
}

.ant-select-selector {
  padding: 25px !important;
  background-color: $smoke_gri !important;
  &:hover {
    border: 1px solid $silik_gri !important;
  }
  &:focus {
    border: 1px solid $silik_gri !important;
    box-shadow: 0 0 0 !important;
  }
}

.ant-select-selection-item {
  top: -25px !important;
  height: 50px;
}
.ant-select-selection-placeholder {
  position: absolute;
  top: 0 !important;
}

.ant-radio-wrapper {
  font-family: "Space Grotesk" !important;
}

.ant-input-group-wrapper * {
  font-family: "Space Grotesk";
}

.ant-table-cell {
  img {
    border-radius: 20px !important;
  }
  vertical-align: middle !important;
  text-align: center;
}
.ant,
.ant-table,
.ant-picker-dropdown,
.ant-table-wrapper,
.ant-popover .ant-popconfirm,
.ant-typography,
.ant-table-cell,
.ant-picker * {
  font-family: "Space Grotesk";
}
.ant-table-bordered {
  border: 1px solid $admin_open_blue;
}

.Toastify * {
  font-family: "Space Grotesk" !important;
  line-height: 25px;
  font-size: 1rem;
}

.ant-upload-drag {
  padding-right: 10px;
  padding-left: 10px;
  &:hover {
    border-color: $koyu_yesil !important;
  }
}
.spinner {
  position: absolute;
  left: 50vw;
  top: 50vh;
}

.ant-select-item-option-content{
  font-family: "Space Grotesk"!important;
}
.select {
  div {
    padding: 0 !important;
    span {
      top: 0 !important;
      left: 10px;
    }
  }
}
